Repository open-syntax/ultimatexo, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, documentation, ci/cd, infrastructure, configuration, dependencies, tests, typescript, rust, security

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# https://github.com/actions/labeler

# Client/Frontend changes
'client':
  - changed-files:
    - any-glob-to-any-file: 'client/**/*'

# Server/Backend changes
'server':
  - changed-files:
    - any-glob-to-any-file: 'server/**/*'

# Documentation changes
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# CI/CD changes
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Infrastructure/Docker changes
'infrastructure':
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'
      - 'docker-compose*.yml'
      - 'Caddyfile'
      - 'scripts/**'

# Configuration changes
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.toml'
      - '**/*.json'
      - '**/*.yaml'
      - '**/*.yml'
      - '.env.example'
      - '**/*.config.*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'client/package.json'
      - 'client/pnpm-lock.yaml'
      - 'server/Cargo.toml'
      - 'server/Cargo.lock'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.*'
      - '**/*.spec.*'
      - '**/__tests__/**'
      - 'server/tests/**'

# TypeScript/JavaScript
'typescript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.ts'
      - '**/*.tsx'

# Rust
'rust':
  - changed-files:
    - any-glob-to-any-file: '**/*.rs'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/dependabot.yml'

# Breaking change (based on PR title)
'breaking-change':
  - head-branch: ['^breaking/', 'breaking']
  - title: ['^(breaking|BREAKING)', '!:']

# Bug fix
'bug':
  - head-branch: ['^fix/', '^hotfix/']
  - title: ['^fix:', '^hotfix:']

# Feature
'enhancement':
  - head-branch: ['^feature/', '^feat/']
  - title: ['^feat:', '^feature:']

# Chore
'chore':
  - head-branch: ['^chore/']
  - title: ['^chore:']

# Performance
'performance':
  - head-branch: ['^perf/']
  - title: ['^perf:']

# Refactoring
'refactor':
  - head-branch: ['^refactor/']
  - title: ['^refactor:']

fix workflow
  .github/workflows/build.yml
  .github/workflows/cleanup.yml
Labels: ci/cd, configuration

bump caddy image
  caddy/Dockerfile
Labels: infrastructure

more board states for instructions
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/miniBoard.tsx
  client/src/data/board-states.json
  client/src/pages/instructions.tsx
Labels: client, configuration, typescript

remove opencode old plan
  .opencode/plans/cicd-rewrite.md
Labels: documentation

retire expert bot
  client/src/pages/createRoom.tsx
  server/crates/core/src/lib.rs
  server/crates/server/src/handlers/api.rs
Labels: client, server, typescript, rust

chore: simplify github templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Labels: documentation, configuration

feat: add sounds
  client/src/components/room/actions.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/components/ui/tooltip-icon.tsx
  client/src/hooks/useGame.ts
  client/src/pages/createRoom.tsx
  client/src/pages/instructions.tsx
  client/src/pages/room.tsx
  client/src/utils/sound.ts
Labels: client, typescript

feat: add focus mode, setting toggle with few settings
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/confetti.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/ripple.tsx
  client/src/components/room/status.tsx
  client/src/components/settings-modal.tsx
  client/src/hooks/useKeyboardNavigation.ts
  client/src/pages/room.tsx
  client/src/store/index.ts
  client/src/store/settings.ts
  client/src/styles/globals.css
  client/src/utils/sound.ts
Labels: client, configuration, dependencies, typescript

chore: add dimming to unplayable boards
  client/src/components/room/board.tsx
  client/src/components/room/miniBoard.tsx
Labels: client, typescript

chore: add settings button for mobile and imorove auto focus
  client/src/components/navbar.tsx
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/hooks/useKeyboardNavigation.ts
  client/src/store/settings.ts
Labels: client, typescript

ref: adopt axiom for logging
  .github/workflows/deploy.yml
  caddy/Caddyfile
  client/src/main.tsx
  docker-compose.yml
  server/.env.example
  server/Cargo.lock
  server/Cargo.toml
  server/crates/core/src/models/room.rs
  server/crates/server/Cargo.toml
  server/crates/server/src/app/server.rs
  server/crates/server/src/handlers/api.rs
  server/crates/server/src/handlers/mod.rs
  server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/main.rs
  server/crates/server/src/utils.rs
  server/crates/server/src/utils/messages.rs
  server/crates/server/src/utils/otel.rs
  server/crates/server/src/utils/real_ip.rs
  server/crates/services/src/cleanup_service.rs
  server/crates/services/src/room_service.rs
Labels: client, server, ci/cd, infrastructure, configuration, dependencies, typescript, rust

add missing import and remove unused
  server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/utils/messages.rs
Labels: server, rust

adopt axiom for logging
  .github/workflows/deploy.yml
  caddy/Caddyfile
  client/src/main.tsx
  docker-compose.yml
  server/.env.example
  server/Cargo.lock
  server/Cargo.toml
  server/crates/core/src/models/room.rs
  server/crates/server/Cargo.toml
  server/crates/server/src/app/server.rs
  server/crates/server/src/handlers/api.rs
  server/crates/server/src/handlers/mod.rs
  server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/main.rs
  server/crates/server/src/utils.rs
  server/crates/server/src/utils/messages.rs
  server/crates/server/src/utils/otel.rs
  server/crates/server/src/utils/real_ip.rs
  server/crates/services/src/cleanup_service.rs
  server/crates/services/src/room_service.rs
Labels: client, server, ci/cd, infrastructure, configuration, dependencies, typescript, rust

fix: remove duplicate player_leaving log, restore Tab navigation
  client/src/hooks/useKeyboardNavigation.ts
  server/crates/services/src/room_service.rs
Labels: client, server, typescript, rust

fix: won miniBoards always render at full opacity regardless of focus mode
  client/src/components/room/miniBoard.tsx
Labels: client, typescript

ignore tyivy err for now
  .trivyignore
Labels: none

fix server end problem
  .github/workflows/deploy.yml
  scripts/deploy.sh
Labels: ci/cd, infrastructure, configuration

change deploy dir
  .github/workflows/deploy.yml
  scripts/deploy.sh
Labels: ci/cd, infrastructure, configuration

hot fix
  scripts/deploy.sh
Labels: infrastructure

better instructions page
  client/src/components/instructions/AutoPlayDemo.tsx
  client/src/components/instructions/BackAndForthDemo.tsx
  client/src/components/instructions/index.ts
  client/src/components/instructions/shared.tsx
  client/src/components/navbar.tsx
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/miniBoard.tsx
  client/src/hooks/useScrollDirection.ts
  client/src/layouts/default.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/utils/sound.ts
Labels: client, typescript

add draw mini-board status
  client/src/components/icons.tsx
  client/src/components/room/miniBoard.tsx
  client/src/data/board-states.json
  client/src/pages/instructions.tsx
Labels: client, configuration, typescript

add draw mini-board status
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/styles/globals.css
  client/src/utils/sound.ts
Labels: client, typescript

improved instructions page
  client/src/hooks/useScrollSpy.ts
  client/src/pages/instructions.tsx
  client/src/styles/globals.css
Labels: client, typescript

make closed sub-boards visible on hover
  client/src/components/room/miniBoard.tsx
Labels: client, typescript

bump server deps
  server/Cargo.lock
Labels: server, dependencies

add missing dep and update lockfile
  client/package.json
  client/pnpm-lock.yaml
Labels: client, configuration, dependencies

remove discord mention
  .github/workflows/build.yml
Labels: ci/cd, configuration

fix canvas not working with caddy
  caddy/Caddyfile
Labels: none

use pre-built cargo-chef alpine image, update deps, migrate server to alpine
  .trivyignore
  caddy/Dockerfile
  client/Dockerfile
  client/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/Cargo.toml
  server/Dockerfile
Labels: client, server, infrastructure, configuration, dependencies

fix Alpine package name: pkg-config -> pkgconf
  client/pnpm-lock.yaml
  server/Cargo.lock
  server/Dockerfile
Labels: client, server, infrastructure, configuration, dependencies

fix client-builder: run as root for volume write access
  docker-compose.yml
Labels: infrastructure, configuration

update license to GNU GPLv3
  LICENSE
Labels: none

fix: SEO - per-route prerendering, sitemap dedupe, 404 handling, noindex rooms
  caddy/Caddyfile
  client/package.json
  client/pnpm-lock.yaml
  client/src/App.tsx
  client/src/hooks/usePageMeta.ts
  client/src/pages/instructions.tsx
  client/src/pages/notFound.tsx
  client/src/pages/room.tsx
  client/vite.config.ts
Labels: client, configuration, dependencies, typescript

feat: implement Cloudflare Pages middleware and worker proxy for API and WebSocket traffic
  client/functions/_middleware.js
  client/public/_worker.js
  client/wrangler.json
Labels: client, configuration

chore: update worker path to dist directory, add default backend URL, and ignore worker file in assets
  client/public/.assetsignore
  client/public/_worker.js
  client/wrangler.json
Labels: client, configuration

feat: inject X-Forwarded-For and X-Real-IP headers into proxied WebSocket requests
  client/functions/_middleware.js
  client/public/_worker.js
Labels: client

chore: deps updates
  client/package.json
  client/pnpm-lock.yaml
  server/Cargo.lock
Labels: client, server, configuration, dependencies

chore: remove ultimate-ttt project configuration and workspace definition files
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: configuration

update server deps
  server/Cargo.lock
  server/Cargo.toml
  server/crates/server/Cargo.toml
  server/crates/server/src/main.rs
Labels: server, configuration, dependencies, rust
