Repository open-syntax/ultimatexo, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, documentation, ci/cd, infrastructure, configuration, dependencies, tests, typescript, rust, security

fix: Update Ko-Fi links to reflect new sponsorship account
  .github/FUNDING.yml
  Caddyfile
  README.md
  client/src/config/site.ts
Labels: client, documentation, infrastructure, configuration, typescript

feat: Implement player reconnection and theme-aware assets
  README.md
  client/public/board-dark.png
  client/public/board-light.png
  client/public/board.png
  client/src/components/theme-switch.tsx
  client/src/hooks/useGame.ts
  client/src/pages/instructions.tsx
  client/src/pages/room.tsx
  client/src/store/player.ts
  client/src/types/actions.ts
Labels: client, documentation, typescript

test
  server/.env.example
  server/crates/core/src/domain/standard_room_rules.rs
  server/crates/server/src/app/server.rs
  server/crates/server/src/handlers/tasks.rs
Labels: server, rust

Using SVG instead of PNG for README board img
  README.md
  client/public/board-dark.png
  client/public/board-light.png
  client/public/board.svg
Labels: client, documentation

chore(ci/caddy): add Caddy image build and retention, +Dockerfile
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  caddy/Caddyfile
  caddy/Dockerfile
  client/Dockerfile
  docker-compose.yml
Labels: client, ci/cd, infrastructure, configuration

fix: fixed few warnings and errors
  .pre-commit-config.yaml
  caddy/Caddyfile
  client/Dockerfile
  docker-compose.yml
  server/Dockerfile
Labels: client, server, infrastructure, configuration

hot fix
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  caddy/Caddyfile
  caddy/Dockerfile
  server/crates/server/src/handlers/tasks.rs
Labels: server, ci/cd, infrastructure, configuration, rust

caddy hot fix
  caddy/Dockerfile
  docker-compose.yml
Labels: infrastructure, configuration

Update caddy/Dockerfile
  caddy/Dockerfile
Labels: infrastructure

Update server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/handlers/tasks.rs
Labels: server, rust

fmt: fix cargo fmt
  server/crates/server/src/handlers/tasks.rs
Labels: server, rust

fix: fixed some errors in Dockerfile and simplified docker-compose for better performance
  .pre-commit-config.yaml
  caddy/Dockerfile
  client/Dockerfile
  docker-compose.yml
  server/Dockerfile
Labels: client, server, infrastructure, configuration

docs: update README
  .markdownlint.json
  README.md
Labels: documentation, configuration

added board to insturactions page
  client/src/components/room/actions.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/chat.tsx
  client/src/pages/instructions.tsx
  client/src/pages/quick.tsx
Labels: client, typescript

refactor(server): refine room cleanup, reconnection and rules
  server/.env.example
  server/Cargo.lock
  server/crates/core/src/domain/bot_room_rules.rs
  server/crates/core/src/domain/local_room_rules.rs
  server/crates/core/src/domain/room_rules.rs
  server/crates/core/src/domain/standard_room_rules.rs
  server/crates/core/src/models/messages.rs
  server/crates/core/src/models/room.rs
  server/crates/server/src/app/server.rs
  server/crates/server/src/app/state.rs
  server/crates/server/src/handlers/api.rs
  server/crates/server/src/handlers/doc.rs
  server/crates/server/src/handlers/mod.rs
  server/crates/server/src/handlers/tasks.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/utils.rs
  server/crates/services/Cargo.toml
  server/crates/services/src/cleanup_service.rs
  server/crates/services/src/room_service.rs
Labels: server, configuration, dependencies, rust

fix(server): fix errors and improve code workflow
  server/.env.example
  server/Cargo.lock
  server/crates/ai/Cargo.toml
  server/crates/ai/src/minimax.rs
  server/crates/core/src/domain/bot_room_rules.rs
  server/crates/core/src/domain/game.rs
  server/crates/core/src/domain/local_room_rules.rs
  server/crates/core/src/domain/room_rules.rs
  server/crates/core/src/domain/standard_room_rules.rs
  server/crates/core/src/models/room.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/utils.rs
  server/crates/services/src/cleanup_service.rs
  server/crates/services/src/game_ai_service.rs
  server/crates/services/src/room_service.rs
Labels: server, configuration, dependencies, rust

feat: added to caddy and docker-compose to dependabot
  .github/dependabot.yml
Labels: configuration, security

feat: added to caddy and docker-compose to dependabot
  .github/dependabot.yml
Labels: configuration, security

feat: add burno collection for api testing
  bruno/Check server Health.bru
  bruno/Create a new Room.bru
  bruno/Get Room.bru
  bruno/Get Rooms.bru
  bruno/Websocket 1.bru
  bruno/Websocket 2.bru
  bruno/Websocket 3.bru
  bruno/bruno.json
  bruno/collection.bru
  bruno/environments/Local.bru
Labels: configuration

refactor(ai): add new ai that plays more like a human and less robust to impove the overall experience
  server/crates/ai/src/lib.rs
  server/crates/ai/src/minimax.rs
  server/crates/core/src/models/room.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/utils.rs
  server/crates/services/src/game_ai_service.rs
Labels: server, rust

refactor(ai): add new ai that plays more like a human and less robust to impove the overall experience
  server/crates/ai/src/lib.rs
  server/crates/ai/src/minimax.rs
  server/crates/core/src/models/room.rs
  server/crates/server/src/handlers/websocket.rs
  server/crates/server/src/utils.rs
  server/crates/services/src/game_ai_service.rs
Labels: server, rust

fix: fix cleanup workflow err
  .github/workflows/cleanup.yml
Labels: ci/cd, configuration

fix(ci/cd): fix workflow errors
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: ci/cd, configuration

chore(ci): update cleanup workflow
  .github/workflows/cleanup.yml
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
Labels: documentation, ci/cd, infrastructure, configuration

chore(ci): update deploy workflow
  .github/workflows/deploy.yml
Labels: ci/cd, configuration

feat: add CHANGELOG for v0.1.0 initial release
  CHANGELOG.md
Labels: documentation

update deploy and cleanup workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
Labels: documentation, ci/cd, infrastructure, configuration

feat: add CHANGELOG for v0.1.0 initial release
  CHANGELOG.md
Labels: documentation

update deploy and cleanup workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
Labels: documentation, ci/cd, infrastructure, configuration

feat: add CHANGELOG for v0.1.0 initial release
  CHANGELOG.md
Labels: documentation

chore(server): update bruno and improve get_rooms logic
  bruno/Check server Health.bru
  bruno/Create a new Room.bru
  bruno/Get Room.bru
  bruno/Get Rooms.bru
  bruno/Websocket 1.bru
  bruno/Websocket 2.bru
  bruno/Websocket 3.bru
  bruno/environments/Local.bru
  server/crates/server/src/app/state.rs
  server/crates/services/src/room_service.rs
Labels: server, rust

fix style issues after migrating to tailwind v4
  client/package.json
  client/pnpm-lock.yaml
  client/postcss.config.js
  client/src/hero.ts
  client/src/styles/globals.css
  client/tailwind.config.js
  client/vite.config.ts
  package.json
  pnpm-lock.yaml
Labels: client, configuration, dependencies, typescript

chore: refactore Home Screen
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/components/theme-switch.tsx
  client/src/layouts/default.tsx
  client/src/pages/index.tsx
  client/src/styles/globals.css
Labels: client, typescript

refactor: improve home screen code quality
  client/src/components/home-button.tsx
  client/src/components/navbar.tsx
  client/src/components/ui/tooltip-icon.tsx
  client/src/pages/index.tsx
Labels: client, typescript

Update client/src/components/ui/tooltip-icon.tsx
  client/src/components/ui/tooltip-icon.tsx
Labels: client, typescript

fix rng err
  server/crates/ai/src/lib.rs
  server/crates/core/src/models/room.rs
  server/crates/services/src/room_service.rs
Labels: server, rust

bump deps
  server/Cargo.lock
  server/Cargo.toml
Labels: server, configuration, dependencies

update quic-go for caddy
  caddy/Dockerfile
Labels: infrastructure

remove unused deps
  server/Cargo.lock
  server/Cargo.toml
  server/crates/ai/Cargo.toml
  server/crates/server/Cargo.toml
Labels: server, configuration, dependencies

remove unused deps
  server/Cargo.lock
  server/Cargo.toml
  server/crates/ai/Cargo.toml
Labels: server, configuration, dependencies

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# https://github.com/actions/labeler

# Client/Frontend changes
'client':
  - changed-files:
    - any-glob-to-any-file: 'client/**/*'

# Server/Backend changes
'server':
  - changed-files:
    - any-glob-to-any-file: 'server/**/*'

# Documentation changes
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# CI/CD changes
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Infrastructure/Docker changes
'infrastructure':
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'
      - 'docker-compose*.yml'
      - 'Caddyfile'
      - 'scripts/**'

# Configuration changes
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.toml'
      - '**/*.json'
      - '**/*.yaml'
      - '**/*.yml'
      - '.env.example'
      - '**/*.config.*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'client/package.json'
      - 'client/pnpm-lock.yaml'
      - 'server/Cargo.toml'
      - 'server/Cargo.lock'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.*'
      - '**/*.spec.*'
      - '**/__tests__/**'
      - 'server/tests/**'

# TypeScript/JavaScript
'typescript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.ts'
      - '**/*.tsx'

# Rust
'rust':
  - changed-files:
    - any-glob-to-any-file: '**/*.rs'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/dependabot.yml'

# Breaking change (based on PR title)
'breaking-change':
  - head-branch: ['^breaking/', 'breaking']
  - title: ['^(breaking|BREAKING)', '!:']

# Bug fix
'bug':
  - head-branch: ['^fix/', '^hotfix/']
  - title: ['^fix:', '^hotfix:']

# Feature
'enhancement':
  - head-branch: ['^feature/', '^feat/']
  - title: ['^feat:', '^feature:']

# Chore
'chore':
  - head-branch: ['^chore/']
  - title: ['^chore:']

# Performance
'performance':
  - head-branch: ['^perf/']
  - title: ['^perf:']

# Refactoring
'refactor':
  - head-branch: ['^refactor/']
  - title: ['^refactor:']
