Repository open-syntax/ultimatexo, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, documentation, ci/cd, infrastructure, configuration, dependencies, tests, typescript, rust, security

chore(ci): remove explicit multi-platform targets from docker builds
  .github/workflows/build.yml
Labels: ci/cd, configuration

chore(site): update project links, copyright, and security doc
  LICENSE
  README.md
  SECURITY.md
  client/src/config/site.ts
  client/src/layouts/default.tsx
Labels: client, documentation, typescript, security

docs: add GNU Affero GPL v3 full text to LICENSE
  LICENSE
Labels: none

docs: add Ko-fi funding link
  .github/FUNDING.yml
Labels: configuration

feat: add vite-sitemap plugin and configuration for sitemap generation
  client/package.json
  client/pnpm-lock.yaml
  client/pnpm-workspace.yaml
  client/vite.config.ts
Labels: client, configuration, dependencies, typescript

refactor: simplify modal management by removing unused props and using state for open modals
  client/src/components/room/status.tsx
Labels: client, typescript

docs: update README with badges, infra, and setup
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Labels: documentation, configuration

feat(server): refactor startup, add config, logging, and rate limiting
  server/Cargo.lock
  server/Cargo.toml
  server/src/app/server.rs
  server/src/handlers/websocket.rs
  server/src/utils.rs
Labels: server, configuration, dependencies, rust

chore(client): switch websocket proxy to /ws and use hostname
  client/.env.dev
  client/src/pages/room.tsx
  client/vite.config.ts
Labels: client, configuration, typescript

fix(dev): run server with cargo instead of bacon
  justfile
Labels: none

chore: clean up YAML/README formatting and add setup justfile
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  justfile
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
  server/src/app/server.rs
  server/src/utils.rs
Labels: server, documentation, ci/cd, infrastructure, configuration, rust, security

feat(server): restructure startup, add config and rate limiter
  server/Cargo.lock
  server/Cargo.toml
  server/src/app/server.rs
  server/src/handlers/websocket.rs
  server/src/utils.rs
Labels: server, configuration, dependencies, rust

fix(ws): correct websocket endpoint and dev env host
  client/.env.dev
  client/src/pages/room.tsx
  client/vite.config.ts
Labels: client, configuration, typescript

feat: add security policy and enhance justfile setup
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  justfile
  scripts/README.md
  scripts/deploy.sh
  scripts/health-check.sh
Labels: documentation, ci/cd, infrastructure, configuration, security

docs: add Open Syntax Discord
  README.md
Labels: documentation

feat(actions): disables game actions when in local/bot room
  client/src/components/room/actions.tsx
  client/src/pages/room.tsx
Labels: client, typescript

refactor: sort props
  client/src/components/room/status.tsx
Labels: client, typescript

fix: inputs' outline issue, and classes replaced
  client/src/layouts/default.tsx
  client/src/styles/globals.css
Labels: client, typescript

hot fix
  client/Dockerfile
  server/src/domain/game.rs
Labels: client, server, infrastructure, rust

testing new routing
  Caddyfile
  client/Dockerfile
  client/nginx.conf
  client/src/styles/globals.css
  client/vite.config.ts
  docker-compose.yml
  justfile
  server/Dockerfile
  server/src/app/server.rs
Labels: client, server, infrastructure, configuration, typescript, rust

minor fixes and ux enhanced
  client/src/components/room/actions.tsx
Labels: client, typescript

last_move's border highlighted
  client/src/components/room/cell.tsx
Labels: client, typescript

feat(server,client): nest websocket route; modernize Dockerfiles
  Caddyfile
  client/Dockerfile
  client/nginx.conf
  client/src/styles/globals.css
  client/vite.config.ts
  docker-compose.yml
  justfile
  server/Dockerfile
  server/src/app/server.rs
Labels: client, server, infrastructure, configuration, typescript, rust

fix(model): fix clippy warning
  server/src/models/game.rs
Labels: server, rust

Update docker-compose.yml
  docker-compose.yml
Labels: infrastructure, configuration

Update client/Dockerfile
  client/Dockerfile
Labels: client, infrastructure

Update docker-compose.yml
  docker-compose.yml
Labels: infrastructure, configuration

Update client/nginx.conf
  client/nginx.conf
Labels: client

Update docker-compose.yml
  docker-compose.yml
Labels: infrastructure, configuration

Update client/vite.config.ts
  client/vite.config.ts
Labels: client, configuration, typescript

redesign and improve chat layout and messages
  client/src/components/room/board.tsx
  client/src/components/room/chat.tsx
  client/src/pages/room.tsx
  client/src/styles/globals.css
Labels: client, typescript

chore(deps): update client dependencies
  client/package.json
  client/pnpm-lock.yaml
  client/pnpm-workspace.yaml
Labels: client, configuration, dependencies

minor fix
  client/src/pages/quick.tsx
Labels: client, typescript

fix: password input appears after creating a protected room, quick join now doesn't get a protected room.
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
Labels: client, typescript

Update client/package.json
  client/package.json
Labels: client, configuration, dependencies

Update client/pnpm-lock.yaml
  client/pnpm-lock.yaml
Labels: client, configuration, dependencies

update last move highlighting
  client/src/components/room/cell.tsx
Labels: client, typescript

update last move highlighting (#53)
  client/src/components/room/cell.tsx
Labels: client, typescript

updating board images
  client/public/board-light.png
  client/public/board.png
Labels: client

feat: Implement player reconnection and theme-aware assets
  README.md
  client/public/board-dark.png
  client/public/board-light.png
  client/public/board.png
  client/src/components/theme-switch.tsx
  client/src/hooks/useGame.ts
  client/src/pages/instructions.tsx
  client/src/pages/room.tsx
  client/src/store/player.ts
  client/src/types/actions.ts
Labels: client, documentation, typescript

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# https://github.com/actions/labeler

# Client/Frontend changes
'client':
  - changed-files:
    - any-glob-to-any-file: 'client/**/*'

# Server/Backend changes
'server':
  - changed-files:
    - any-glob-to-any-file: 'server/**/*'

# Documentation changes
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# CI/CD changes
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Infrastructure/Docker changes
'infrastructure':
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'
      - 'docker-compose*.yml'
      - 'Caddyfile'
      - 'scripts/**'

# Configuration changes
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.toml'
      - '**/*.json'
      - '**/*.yaml'
      - '**/*.yml'
      - '.env.example'
      - '**/*.config.*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'client/package.json'
      - 'client/pnpm-lock.yaml'
      - 'server/Cargo.toml'
      - 'server/Cargo.lock'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.*'
      - '**/*.spec.*'
      - '**/__tests__/**'
      - 'server/tests/**'

# TypeScript/JavaScript
'typescript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.ts'
      - '**/*.tsx'

# Rust
'rust':
  - changed-files:
    - any-glob-to-any-file: '**/*.rs'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/dependabot.yml'

# Breaking change (based on PR title)
'breaking-change':
  - head-branch: ['^breaking/', 'breaking']
  - title: ['^(breaking|BREAKING)', '!:']

# Bug fix
'bug':
  - head-branch: ['^fix/', '^hotfix/']
  - title: ['^fix:', '^hotfix:']

# Feature
'enhancement':
  - head-branch: ['^feature/', '^feat/']
  - title: ['^feat:', '^feature:']

# Chore
'chore':
  - head-branch: ['^chore/']
  - title: ['^chore:']

# Performance
'performance':
  - head-branch: ['^perf/']
  - title: ['^perf:']

# Refactoring
'refactor':
  - head-branch: ['^refactor/']
  - title: ['^refactor:']
