Repository open-syntax/ultimatexo, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, documentation, ci/cd, infrastructure, configuration, dependencies, tests, typescript, rust, security

restore tower_governor
  server/Cargo.lock
  server/Cargo.toml
  server/crates/server/Cargo.toml
Labels: server, configuration, dependencies

refactor instructions page
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/components/room/board.tsx
  client/src/components/room/status.tsx
  client/src/components/ui/tooltip-icon.tsx
  client/src/layouts/default.tsx
  client/src/pages/createRoom.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/pages/room.tsx
  server/crates/core/src/error.rs
  server/crates/core/src/models/room.rs
Labels: client, server, typescript, rust

refactor create-room and rooms pages
  client/src/components/roomCard.tsx
  client/src/pages/createRoom.tsx
  client/src/pages/instructions.tsx
  client/src/pages/rooms.tsx
Labels: client, typescript

refactor main game page
  client/src/components/room/actions.tsx
  client/src/components/room/board.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/chat.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/layouts/default.tsx
  client/src/pages/room.tsx
Labels: client, typescript

add missing lib
  client/package.json
  client/pnpm-lock.yaml
Labels: client, configuration, dependencies

bump client deps
  client/package.json
  client/pnpm-lock.yaml
Labels: client, configuration, dependencies

fix client build error
  client/vite.config.ts
Labels: client, configuration, typescript

route navbar links to opensyntax.dev
  client/public/opensyntax.svg
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/config/site.ts
Labels: client, typescript

fix room card, add better animations for loading and better handling for password rooms
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/components/room/chat.tsx
  client/src/components/roomCard.tsx
  client/src/hooks/useGame.ts
  client/src/layouts/default.tsx
  client/src/pages/createRoom.tsx
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
  client/src/pages/rooms.tsx
  client/src/styles/globals.css
  client/src/types/index.ts
Labels: client, typescript

update logo, footer and background
  client/favicon.svg
  client/src/App.tsx
  client/src/components/background-effects.tsx
  client/src/components/footer.tsx
  client/src/components/home-button.tsx
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
  client/src/layouts/default.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/pages/rooms.tsx
  client/src/styles/globals.css
Labels: client, typescript

fix hidden logo
  client/public/favicon.svg
  client/src/components/footer.tsx
  client/src/components/icons.tsx
  client/src/components/navbar.tsx
Labels: client, typescript

enable scroll for home page
  client/src/pages/index.tsx
Labels: client, typescript

refactor ci pipeline
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  .opencode/plans/cicd-rewrite.md
  caddy/Dockerfile
  client/Dockerfile
  client/nginx.conf
  docker-compose.yml
  scripts/deploy.sh
  server/Dockerfile
Labels: client, server, documentation, ci/cd, infrastructure, configuration

fix cargo fmt err
  .github/workflows/ci.yml
Labels: ci/cd, configuration

use latest rust img for cargo chef
  server/Dockerfile
Labels: server, infrastructure

fix cargo chef build err
  server/Dockerfile
Labels: server, infrastructure

add permission for ci to run build action
  .github/workflows/ci.yml
Labels: ci/cd, configuration

improve seo
  client/index.html
  client/public/og-image.png
  client/public/robots.txt
  client/src/hooks/usePageMeta.ts
  client/src/pages/createRoom.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
  client/src/pages/rooms.tsx
  client/vite.config.ts
Labels: client, configuration, typescript

code cleanup and quality improvements
  client/src/App.tsx
  client/src/components/icons.tsx
  client/src/components/primitives.ts
  client/src/components/room/actions.tsx
  client/src/components/room/cell.tsx
  client/src/components/room/chat.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/components/theme-switch.tsx
  client/src/config/site.ts
  client/src/functions/game.ts
  client/src/hooks/useGame.ts
  client/src/layouts/default.tsx
  client/src/pages/createRoom.tsx
  client/src/pages/index.tsx
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
  client/src/pages/rooms.tsx
  client/src/store/game.ts
  client/src/store/room.ts
  client/src/styles/globals.css
  client/src/types/index.ts
  client/src/types/messages.ts
  client/src/types/player.ts
Labels: client, typescript

add connect timeout to disconnecting player event
  server/crates/core/src/models/messages.rs
  server/crates/services/src/room_service.rs
Labels: server, rust

update player disconnect handling
  client/src/hooks/useGame.ts
  client/src/pages/room.tsx
  client/src/types/index.ts
Labels: client, typescript

fix pong serialization
  client/src/hooks/useGame.ts
Labels: client, typescript

feat: make room code 6 digits
  server/crates/services/src/room_service.rs
Labels: server, rust

refactor: re-style next_board design
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/pages/quick.tsx
  client/src/store/game.ts
Labels: client, typescript

room join QoL improvements
  client/src/hooks/useGame.ts
  client/src/pages/room.tsx
Labels: client, typescript

fix local room not working and winner popup improvements
  client/src/components/room/status.tsx
  client/src/hooks/useGame.ts
  client/src/pages/room.tsx
Labels: client, typescript

fix /rooms being cached
  client/src/pages/rooms.tsx
  server/crates/server/src/handlers/api.rs
Labels: client, server, typescript, rust

improve mobile accessibility and add favicon fallback
  client/index.html
  client/public/favicon.png
  client/public/og-image.png
Labels: client

trying to fix a scaling issue for a friend
  client/index.html
  client/public/manifest.json
  client/src/components/room/board.tsx
  client/src/components/room/chat.tsx
  client/src/components/room/miniBoard.tsx
  client/src/components/room/status.tsx
  client/src/hooks/useWindowSize.ts
  client/src/layouts/default.tsx
  client/src/pages/room.tsx
  client/src/styles/globals.css
Labels: client, configuration, typescript

improve chat ux
  client/src/components/icons.tsx
  client/src/components/room/chat.tsx
  client/src/styles/globals.css
Labels: client, typescript

update og image
  client/public/og-image.png
Labels: client

replace images with critical CVEs
  .github/workflows/build.yml
  caddy/Dockerfile
  client/Dockerfile
  server/Dockerfile
Labels: client, server, ci/cd, infrastructure, configuration

bump actions and add .trivyignore
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .trivyignore
Labels: ci/cd, configuration

revert to action-setup@v5
  .github/workflows/ci.yml
Labels: ci/cd, configuration

bump checkout to v6 to auto detect .trivyignore
  .github/workflows/build.yml
Labels: ci/cd, configuration

apply workflow fixes
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  caddy/Dockerfile
  client/Dockerfile
  scripts/deploy.sh
  server/Dockerfile
Labels: client, server, ci/cd, infrastructure, configuration

fix --if-present
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix linting stuff
  client/.eslintignore
  client/.eslintrc.json
  client/eslint.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/footer.tsx
  client/src/components/home-button.tsx
  client/src/components/navbar.tsx
  client/src/components/room/actions.tsx
  client/src/components/roomCard.tsx
  client/src/components/ui/tooltip-icon.tsx
  client/src/hooks/useGame.ts
  client/src/pages/createRoom.tsx
  client/src/pages/index.tsx
  client/src/pages/instructions.tsx
  client/src/pages/quick.tsx
  client/src/pages/room.tsx
  client/src/types/messages.ts
Labels: client, configuration, dependencies, typescript

downgrade eslint
  client/package.json
  client/pnpm-lock.yaml
Labels: client, configuration, dependencies

fix clippy
  .github/workflows/ci.yml
  server/crates/ai/src/lib.rs
Labels: server, ci/cd, configuration, rust

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# https://github.com/actions/labeler

# Client/Frontend changes
'client':
  - changed-files:
    - any-glob-to-any-file: 'client/**/*'

# Server/Backend changes
'server':
  - changed-files:
    - any-glob-to-any-file: 'server/**/*'

# Documentation changes
'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# CI/CD changes
'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Infrastructure/Docker changes
'infrastructure':
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'
      - 'docker-compose*.yml'
      - 'Caddyfile'
      - 'scripts/**'

# Configuration changes
'configuration':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.toml'
      - '**/*.json'
      - '**/*.yaml'
      - '**/*.yml'
      - '.env.example'
      - '**/*.config.*'

# Dependencies
'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'client/package.json'
      - 'client/pnpm-lock.yaml'
      - 'server/Cargo.toml'
      - 'server/Cargo.lock'

# Tests
'tests':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.*'
      - '**/*.spec.*'
      - '**/__tests__/**'
      - 'server/tests/**'

# TypeScript/JavaScript
'typescript':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.ts'
      - '**/*.tsx'

# Rust
'rust':
  - changed-files:
    - any-glob-to-any-file: '**/*.rs'

# Security
'security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/dependabot.yml'

# Breaking change (based on PR title)
'breaking-change':
  - head-branch: ['^breaking/', 'breaking']
  - title: ['^(breaking|BREAKING)', '!:']

# Bug fix
'bug':
  - head-branch: ['^fix/', '^hotfix/']
  - title: ['^fix:', '^hotfix:']

# Feature
'enhancement':
  - head-branch: ['^feature/', '^feat/']
  - title: ['^feat:', '^feature:']

# Chore
'chore':
  - head-branch: ['^chore/']
  - title: ['^chore:']

# Performance
'performance':
  - head-branch: ['^perf/']
  - title: ['^perf:']

# Refactoring
'refactor':
  - head-branch: ['^refactor/']
  - title: ['^refactor:']
